<mat-selection-list multiple="false">
  <mat-list-option>item1</mat-list-option>
  <mat-list-option>item2</mat-list-option>
  <mat-list-option>item3</mat-list-option>
  <mat-list-option>item4</mat-list-option>
</mat-selection-list>
