.drawer-container {
  .drawer {
    border: 1px solid #ccc;
    min-width: 300px;
  }

  .drawer-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    ::ng-deep .NgxEditor {
      height: 100%;
    }

    ::ng-deep .NgxEditor__Content {
      height: 100%;
    }
  }
}

.content-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  .drawer {
    border: 1px solid #ccc;
  }

  .content {
    ::ng-deep .NgxEditor {
      height: 100%;
    }

    ::ng-deep .NgxEditor__Content {
      height: 100%;
    }
  }
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}
