<div class="container">
  <app-toolbar></app-toolbar>

  <div class="content-container">
    <div class="drawer">
      <app-user-list></app-user-list>
    </div>
    <div class="content">
      <app-text-editor></app-text-editor>
    </div>
  </div>
</div>
